body{
    background-color: #b7d6aa;
    margin: 0;
    padding: 0;
}
.nav{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 50px;
}
.rightnav {
    float: right;
    display: inline;
    font-size: 50px;
}
.button {
    background-color: #e4dee1;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 15px 20px rgba(242, 243, 243, 0.4);
    transform: translateY(-7px);
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-size: x-large;
}
.sidebar {
    text-align: center;
    word-wrap: break-word;
    max-width: 150px;
    border:1px solid rgb(53, 109, 7);
    border-radius: 16px;
    width: 100%;
}
.price{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 30px;
}
.cart {
    float: right;
    display: inline;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.submit{
    background-color: #f16d00;
    border: 1;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 15px 20px rgba(242, 243, 243, 0.4);
    transform: translateY(-7px);
}
.form{
 background-color: #6a9e54;
 margin: 100px;
 padding: 100px;
}
.input{
    border: 1;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
table{
    width: 100%;
}
.food{
    background-color: #bbbbbb;
    border-radius: 16px;
    margin: 50px;
    padding: 50px ;
}
.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 16px;
}